<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/newchat.css">
</head>

<body>
    <h3>Write New Chat</h3>
    <form method="POST" action="/chats">
        <div class="from">
            <input placeholder="Who Are You?" name="from">
        </div>
        <div class="to">
            <input placeholder="Add Receiver" name="to">
        </div>
        <div class="message">
            <textarea name="message" placeholder="Your Message Here..."></textarea>
        </div>
        <div class="button">
            <button>Create Chat</button>
        </div>
    </form>
</body>

</html>